<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="productMapper">
	<insert id="insert">
		<selectKey keyProperty="no" resultType="int" order="BEFORE">
			select product_seq.nextval from dual <!--  하나씩 올라 가는 값 -->
		</selectKey>
		insert into product(no, lno, sno, name, price,image, quantity, state, product_date)
		values(#{no},#{lno},#{sno},#{name},#{price},#{image},#{quantity},0, sysdate)
	</insert>
	<select id="findAllProduct" resultType="product">
		select no, category_no, name, price, image, quantity, state from product
	</select>
	<select id="findProduct" resultType="product">
		select no, lno, sno, name, price, image, quantity, state from product
		where no=#{no} and rownum=1
	</select>

	<update id="hide" >
		update sell
		<set>
      		<if test="block != null">block = #{block},</if>
      	</set>
		where no=#{no}
	</update>

	<select id="findPriceByProduct" resultType="long">
		select price from product where no=#{no} and rownum=1
	</select>
	<select id="findQuantityByProduct" resultType="int">
		select quantity from product where no=#{no} and rownum=1
	</select>
	<update id="updateQuantity">
		update product set quantity=quantity+#{quantity}
		where no=#{no} and rownum=1
	</update>
	<update id="updateStateWhereSoldOut">
		update product set state=1,quantity=0
		where no=#{no} and rownum=1
	</update>

	<delete id="delete">
		delete from no where no=#{no} and rownum=1
	</delete> 
</mapper>